:root {
    --color-primary: #6741d9;
    --color-primary-light: #7950f2;
    --color-text: #dee2e6;
    --color-text-dark: #adb5bd;
    --color-background-100: #343a40;
    --color-background-500: #2b3035;
    --color-background-900: #212529;
    --color-red: #fa5252;
    --color-red-dark: #e03131;

    --spacing-xs: 0.4rem;
    --spacing-sm: 0.8rem;
    --spacing-md: 1.6rem;
    --spacing-lg: 2.4rem;
    --spacing-xl: 3.2rem;

    --font-size-xs: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-md: 1.6rem;
    --font-size-lg: 2.4rem;
    --font-size-xl: 3.2rem;

    --border-radius: 0.9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--color-text);
    background-color: var(--color-background-900);
    padding: var(--spacing-lg);
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 7.2rem;
    padding: 0 var(--spacing-xl);
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
}

@media (max-width: 768px) {
    .nav-bar {
        grid-template-columns: auto 1fr auto;
        padding: 0 var(--spacing-md);
    }
}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .box {
        max-width: 100%;
        padding: var(--spacing-sm);
    }
}

@media (max-width: 768px) {
    .loader,
    .error {
        font-size: var(--font-size-md);
        margin: var(--spacing-md);
    }
}

@media (max-width: 768px) {
    .logo span,
    .logo h1 {
        font-size: var(--font-size-md);
    }
}

@media (max-width: 768px) {
    .search {
        max-width: 90%;
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 768px) {
    .num-results {
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 768px) {
    .list li {
        grid-template-columns: 3rem 1fr;
        font-size: var(--font-size-sm);
        padding: var(--spacing-sm) var(--spacing-md);
    }
}

@media (max-width: 768px) {
    .list h3 {
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 768px) {
    .summary h2,
    .summary div {
        font-size: var(--font-size-sm);
        gap: var(--spacing-sm);
    }
}

@media (max-width: 768px) {
    .details section {
        padding: var(--spacing-md);
        gap: var(--spacing-sm);
    }
}

@media (max-width: 768px) {
    .details img {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .details-overview h2 {
        font-size: var(--font-size-md);
    }
}

@media (max-width: 768px) {
    .rating {
        padding: var(--spacing-md);
        gap: var(--spacing-sm);
    }
}

@media (max-width: 768px) {
    .seconds {
        width: 6rem;
        font-size: var(--font-size-xs);
    }
}

@media (min-width: 768px) {
    .summary div {
        display: flex;
        align-items: center;
        gap: var(--spacing-md);
        font-size: var(--font-size-md);
        font-weight: 600;
        flex-wrap: nowrap;
    }

    .summary p {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        margin-right: var(--spacing-md);
    }
}

@media (min-width: 768px) {
    .summary div {
        display: flex;
        align-items: center;
        gap: var(--spacing-md); /* Adjust gap to fit content in a single line */
        font-size: var(--font-size-md);
        font-weight: 600;
        flex-wrap: nowrap; /* Prevent wrapping */
    }

    .summary p {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs); /* Adjust gap to fit content in a single line */
        margin-right: var(--spacing-xs); /* Adjust margin if necessary */
    }
}

@media (max-width: 768px) {
    .nav-bar {
        grid-template-columns: auto 1fr auto;
        padding: 0 var(--spacing-md);
    }
}

.main {
    margin-top: var(--spacing-lg);
    height: calc(100vh - 7.2rem - 3 * var(--spacing-lg));
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    justify-content: center;
}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
    }
}

.box {
    width: 100%;
    max-width: 42rem;
    background-color: var(--color-background-500);
    border-radius: var(--border-radius);
    overflow-y: auto;
    position: relative;
}

@media (max-width: 768px) {
    .box {
        max-width: 100%;
        padding: var(--spacing-sm);
    }
}

.loader,
.error {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-lg);
    font-weight: 600;
    margin: var(--spacing-xl);
}

@media (max-width: 768px) {
    .loader,
    .error {
        font-size: var(--font-size-md);
        margin: var(--spacing-md);
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.logo span {
    font-size: var(--font-size-xl);
}

.logo h1 {
    font-size: var(--font-size-lg);
    font-weight: 600;
    color: #fff;
}

@media (max-width: 768px) {
    .logo span,
    .logo h1 {
        font-size: var(--font-size-md);
    }
}

.search {
    justify-self: center;
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: var(--font-size-md);
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 40rem;
    transition: all 0.3s;
    color: var(--color-text);
    background-color: var(--color-primary-light);
}

.search::placeholder {
    color: var(--color-text-dark);
}

.search:focus {
    outline: none;
    box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .search {
        max-width: 90%;
        font-size: var(--font-size-sm);
    }
}

.num-results {
    justify-self: end;
    font-size: var(--font-size-md);
}

@media (max-width: 768px) {
    .num-results {
        font-size: var(--font-size-sm);
    }
}

.btn-toggle {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
    height: 2.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-background-900);
    color: var(--color-text);
    font-size: var(--font-size-sm);
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
}

.list {
    list-style: none;
    padding: var(--spacing-sm) 0;
    overflow-y: auto;
}

.list-watched {
    height: calc(100% - 9rem);
}

.list li {
    position: relative;
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: auto auto;
    column-gap: var(--spacing-lg);
    font-size: var(--font-size-md);
    align-items: center;
    padding: var(--spacing-md) var(--spacing-xl);
    border-bottom: 1px solid var(--color-background-100);
}

@media (max-width: 768px) {
    .list li {
        grid-template-columns: 3rem 1fr;
        font-size: var(--font-size-sm);
        padding: var(--spacing-sm) var(--spacing-md);
    }
}

.list.list-movies li {
    cursor: pointer;
    transition: all 0.3s;
}

.list.list-movies li:hover {
    background-color: var(--color-background-100);
}

.list img {
    width: 100%;
    grid-row: 1 / -1;
}

.list h3 {
    font-size: var(--font-size-md);
}

@media (max-width: 768px) {
    .list h3 {
        font-size: var(--font-size-sm);
    }
}

.list div {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
}

.list p {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.btn-delete {
    position: absolute;
    right: var(--spacing-lg);
    height: 1.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-red);
    color: var(--color-background-900);
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-delete:hover {
    background-color: var(--color-red-dark);
}

@media (max-width: 768px) {
    .btn-delete {
        height: 1.6rem;
        font-size: var(--font-size-xs);
    }
}

.summary {
    padding: var(--spacing-md) var(--spacing-xl) var(--spacing-lg) var(--spacing-xl);
    border-radius: var(--border-radius);
    background-color: var(--color-background-100);
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.summary h2 {
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    margin-bottom: var(--spacing-xs);
}

.summary div {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
    font-size: var(--font-size-md);
    font-weight: 600;
}

.summary p {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

@media (max-width: 768px) {
    .summary h2,
    .summary div {
        font-size: var(--font-size-sm);
        gap: var(--spacing-sm);
    }
}

.details {
    line-height: 1.4;
    font-size: var(--font-size-sm);
}

.details header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

@media (min-width: 768px) {
    .details header {
        flex-direction: row;
    }
}

.details section {
    padding: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

@media (max-width: 768px) {
    .details section {
        padding: var(--spacing-md);
        gap: var(--spacing-sm);
    }
}

.details img {
    width: 100%;
    max-width: 33%;
}

@media (max-width: 768px) {
    .details img {
        max-width: 100%;
    }
}

.details-overview {
    width: 100%;
    padding: var(--spacing-lg) var(--spacing-xl);
    background-color: var(--color-background-100);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.details-overview h2 {
    font-size: var(--font-size-lg);
    margin-bottom: var(--spacing-xs);
    line-height: 1.1;
}

@media (max-width: 768px) {
    .details-overview h2 {
        font-size: var(--font-size-md);
    }
}

.details-overview p {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
}

.rating {
    background-color: var(--color-background-100);
    border-radius: var(--border-radius);
    padding: var(--spacing-lg) var(--spacing-xl);
    margin-bottom: var(--spacing-sm);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

@media (max-width: 768px) {
    .rating {
        padding: var(--spacing-md);
        gap: var(--spacing-sm);
    }
}

.btn-add {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 10rem;
    font-size: var(--font-size-sm);
    padding: var(--spacing-sm);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-add:hover {
    background-color: var(--color-primary-light);
}

.seconds {
    background-color: var(--color-background-100);
    width: 8rem;
    border-radius: 10rem;
    font-weight: 600;
    text-align: center;
    padding: var(--spacing-xs);
    margin-top: var(--spacing-lg);
}

@media (max-width: 768px) {
    .seconds {
        width: 6rem;
        font-size: var(--font-size-xs);
    }
}

.btn-back {
    position: absolute;
    top: var(--spacing-xs);
    left: var(--spacing-xs);
    height: 3.2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: var(--color-background-500);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    font-family: sans-serif;
    font-size: var(--font-size-lg);
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .summary div {
        display: flex;
        align-items: center;
        gap: var(--spacing-md);
        font-size: var(--font-size-md);
        font-weight: 600;
        flex-wrap: nowrap;
    }

    .summary p {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        margin-right: var(--spacing-md);
    }
}


/*aligning movies you watched section such that all fall in a single line*/
@media (min-width: 768px) {
    .summary div {
        display: flex;
        align-items: center;
        gap: var(--spacing-md); /* Adjust gap to fit content in a single line */
        font-size: var(--font-size-md);
        font-weight: 600;
        flex-wrap: nowrap; /* Prevent wrapping */
    }

    .summary p {
        display: flex;
        align-items: center;
        gap: var(--spacing-xs); /* Adjust gap to fit content in a single line */
        margin-right: var(--spacing-xs); /* Adjust margin if necessary */
    }
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /52 / 62 / 74 / 86 / 98
*/

/*
FULL STAR

<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 20 20"
  fill="#000"
  stroke="#000"
>
  <path
    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
  />
</svg>


EMPTY STAR

<svg
  xmlns="http://www.w3.org/2000/svg"
  fill="none"
  viewBox="0 0 24 24"
  stroke="#000"
>
  <path
    strokeLinecap="round"
    strokeLinejoin="round"
    strokeWidth="{2}"
    d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
  />
</svg>

*/
